<section fxLayout="column" fxFlexAlign="stretch">
  <mat-card>
    <mat-card-title>
      New Mapping
    </mat-card-title>
    <mat-card-subtitle>

    </mat-card-subtitle>
    <mat-card-content>
      <mat-grid-list cols="7" rowHeight="2:1">
        <mat-grid-tile>File</mat-grid-tile>
        <mat-grid-tile>Content</mat-grid-tile>
        <mat-grid-tile>Fields</mat-grid-tile>
        <mat-grid-tile>Additional Output Fields</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="2:1">
          <!-- 4 Task trackers are there named "Todo", "In Progress", "D-Done" & "QA-Pass" -->
          <div class="board">
            <div class="card-list mat-elevation-z1" *ngFor="let track of tracks; let i=index" style="max-width: 50%;margin-bottom: 55px;">
              <mat-grid-list cols="1" style="background-color: dimgrey !important;">
                <h2 cdkDragHandle class="mat-h2" style="color: #fff">{{track.title}}</h2>
                <div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks" [cdkDropListConnectedTo]="trackIds"
                     (cdkDropListDropped)="onTalkDrop($event)" [ngStyle]="{'background-color': 'blue'}">
                  <mat-card style="margin: 6%;" *ngFor="let task of track.tasks" cdkDrag>
                    <!-- Use the mat-card-content to add the proper spacing. -->
                    <mat-card-content>
                      <h2>{{task.title}}</h2>
                      {{task.description}}
                    </mat-card-content>
                  </mat-card>
                </div>
              </mat-grid-list>
            </div>
          </div>
        <mat-grid-list cols="1">
        </mat-grid-list>
        <!--<div cdkDropListGroup>
          <div class="example-container">
            <h2>Pick a Source</h2>
            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
            </div>
          </div>
          <div class="example-container">
            <h2>
              Selected Source
            </h2>
            <div
              cdkDropList
              [cdkDropListData]="done"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
          </div>
        </div>-->
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
    <!--<div fxFlexAlign="center">
        <p>Welcome to the Material Angular OwnerAccount Application</p>
    </div>

    <p>In this application we are going to work with:</p>

    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Material Components">
          <p>We are going to use different material components to create nice looking angular app.</p>
        </mat-tab>
        <mat-tab label="Consume .NET Core Web API">
           <p>We will consume our .NET Core application. Basically, we will create complete CRUD client app.</p>
          </mat-tab>
        <mat-tab label="Fully responsive navigation menu">
           <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
          </mat-tab>
      </mat-tab-group>-->
</section>
